.banner {
  padding: 250px 0;
  color: #fff;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url("../../images/banner_img.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 80%;
}

.banner h1, .banner p {
  margin: 0;
}

.banner p {
  margin-bottom: 50px;
}
